body {
    font-family: Arial, sans-serif; /* Changez ceci pour une police plus élégante */
    line-height: 1.6;
    color: #333; /* Couleur de texte sombre */
    background-color: #f8f8f8; /* Fond légèrement grisé */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
}

/* Conteneur principal pour limiter la largeur et centrer le contenu */
.container { 
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #fff; /* Fond blanc pour la zone de contenu */
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
}

h2 {
    color: #555;
    font-weight: 300;
}

/* Style des liens sociaux */
.links ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.links li {
    display: inline-block;
    margin: 0 15px;
}

a {
    color: #007bff; /* Couleur d'accentuation (bleu) */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}